<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- compatible 75 and above, if zero, status code I am a teapot image-->
  </head>
  <body>
    <form method="GET">
      <input type="text" name="fname" id="fname" placeholder="name" required />
      <input
        type="text"
        name="sname"
        id="sname"
        placeholder="second person"
        required
      />
      <button type="submit">Calculate</button>
    </form>
  </body>
</html>
